
  .other {
    width: 70px;
  }
  
  /* with TABLEs */
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }
  
  tr {
    border: 1px solid blue;
  }
  
  td {
    outline: 1px solid red;
    padding: 0;
  }
  
  /* with ULs and LIs */
  ul {
    display: table;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    width: 100%;
  }
  
  li {
    list-style: none;
    display: table-row;
    border: 1px solid blue;
  }
  
  li div {
    display: table-cell;
    outline: 1px solid red;
  }
  
  /* with FLEXBOX */
  .row {
    display: flex;
  }
  
  .first, .other {
    border: 1px solid red;
  }
  
  .first {
    flex-grow: 1;
  }
  
  .other {
    flex-basis: 20px;
    flex-shrink: 0;
  }